#calculator{
  border: 2px solid rgb(188, 151, 188);
  border-radius: 5px;
  width: 200px;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.buttoncontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons{
  width: 45px;
  height: 45px;
  margin: 4px;
}